.title {
    background-color: deeppink;
    text-align: center;
    justify-content: center ;
    margin-bottom: 30px;
    border: 5px solid pink;
    font-family: cursive;
}

body {
    background-color: whitesmoke;
    margin: 0px 0px 0px 0px;
}

.text {
    text-align: center;
    font-family: cursive;
}

.TOC {
    background-color: gainsboro;
    margin: 0px 110px 0px 110px;
    font-family: cursive;
    border: 4px solid rgb(197, 196, 196);
}

#center {
     font-family: monospace;
     font-weight: bold;
      text-align: center;
}

html {
    border: 1px solid pink;
}